 @import url("https://use.typekit.net/rcr7xrb.css");

*{
	margin:0;
	height: 100%;
}

html, body{
	min-height: 100%;
}

body{
	width: 100%;
	margin:0 auto;
}

header{
	background: linear-gradient(-90deg, #985856, #a06561);
	padding-bottom: 25px;
	height: 100px;
	position: fixed;
	width: 100%;
	z-index: 2;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.header{
	font-size: 20px;
	padding-top: 5px;
	color: #fff;
}

.logo{
	float: left;
	padding: 10px 0;
	height: 84px;
	width: 80px;
	margin-left: 15px;
}

.main{
	float: right;
	margin-left: 10px;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 40px;
}

.main ul{
	margin-right: 35px;
	padding: 0;
	list-style: none;
}

.main li{
	display: inline-block;
	margin-left: 15px;
	padding-top: 25px;
}

.main a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
}

.main a:hover{
	color: #000;
	text-decoration: none;
}

.img-container{
	background-image: url(https://images.pexels.com/photos/1018133/pexels-photo-1018133.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 25px;
}

.inner-container{
	text-align: center;
	position: absolute;
	width: 100%;
	color: #fff;
	height: auto;
	margin-top: 200px;
}

.inner-container h1{
	font-size: 50px;
	letter-spacing: 8px;
	text-align: center;
}

.inner-container p{
	font-size: 30px;
	letter-spacing: 8px;
	text-align: center;
}

.btn{
	background:#985856;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	width: 240px;
	padding: 10px 10px;
	border: 2px solid #985856;
	letter-spacing: 5px;
	margin-top: 10px;
}

.btn:hover{
	background-color: #fff;
	color: #985856;
	width: 240px;
	border: 2px solid #deafa7;
}

@media only screen and (max-width: 920px){
	.inner-container{
		margin-top: 100px;
	}
}

@media only screen and (max-width:540px){
	.inner-container{
		margin-top: 150px;
	}
	h1{
		font-size: 70px;
	}
}

/*All Sections*/
.container{
	width: 100%;
	height: 70px;
	padding-top: 20px;
	margin-top: 15px;
}

h2{
	font-size: 30px;
	font-family: "mono45-headline", monospace;
	text-align: center;
	padding-top: 5px;
	text-transform: none;
	letter-spacing: 4px;
	margin-top: 15px;
	padding-top: 25px;
}

/*About Section */
#section2{
	background-color: #f5f5f5;
	width: 100%;
	height: 300px;
	margin: 0 auto;
	border: 1px solid #985856;
}

.info{
	font-size: 20px;
	color: #985856;
	text-align: center;
	letter-spacing: 4px;
	align-content: center;
	padding-top: 25px;
	margin-top: 25px;
}

/*Skills Section */
#section3{
	width: 100%;
	height: 400px;
}

.skill-set{
	margin-top: 30px;
	background-color: #f5f5f5;
	border-bottom: 2px solid #985856;
	border-top: 2px solid #985856;
	padding: 100px 20px;
	transition: all 0.3s ease 0s;
}

.icon{
	height: 40px;
	position: absolute;
	top: 50px;
	left: 40px;
}

.skill-set .icon span{
	font-size: 30px;
	color: #985856;
	padding-left: 90px;
	margin-top: 15px;

}

.desc{
	text-align: center;
}


.skill-set .desc h4{
	margin-bottom: 10px;
	font-size: 20px;
	color: #985856;
	font-weight: bold;
	letter-spacing: 1px;
}

.skill-set .desc p{
	margin-bottom: 10px;
	font-size: 16px;
	color: #111;
	padding-top: 15px;
	letter-spacing: 1px;
}

/* Portfolio Section */
#portfolio{
	width: 100%;
	height: 600px;
}


.port-cat{
	width: 100%;
	background: #c09084;
	margin-top: 10px;
	padding-top: 20px;
}

.port-cat a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	padding-left: 30px;
	text-align: center;
}

.port-cat a:hover{
	color: #000;
	text-decoration: none;

}

.port-cat-set, .port-cat-flash, .port-cat-print, .port-cat-vector{
	margin-top: 30px;
	background-color: #111;
	border-bottom: 2px solid #985856;
	border-top: 2px solid #985856;
	padding: 100px 20px;
	transition: all 0.3s ease 0s;
}


.port-cat-set video{
	width:255px;
	height: 200px;
	position: relative;
	bottom: 100px;
	right: 20px;
}

.port-cat-flash img{
	width:255px;
	height: 200px;
	position: relative;
	bottom: 100px;
	right: 20px;
}


.port-cat-flash{
	-webkit-animation: 'flash' linear 1s;
	animation: 'flash' linear 1s;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
}

@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

.port-cat-print img{
	width:255px;
	height: 200px;
	position: relative;
	bottom: 100px;
	right: 20px;
	animation: "print" 2s ease-in;
}


@-webkit-keyframes print{
  0%
    +translateY(-75%)
  100%
    +translateY(0%)
}

.port-cat-vector{
	margin-top: 30px;
	background-color: #f5f5f5;
	border-bottom: 2px solid #985856;
	border-top: 2px solid #985856;
	padding: 100px 20px;
	transition: all 0.3s ease 0s;
	 fill: none;
    stroke: #985856;
    stroke-miterlimit: 10;
    stroke-dasharray: 2300;
    stroke-dashoffset: 2300;
    animation: 'draw' 5s linear 8s forwards infinite;
}

.port-cat-vector svg{
	width:255px;
	height: 200px;
	position: relative;
	bottom: 100px;
	right: 20px;
	animation: 'draw' 5s linear forwards;
}

.port-cat-vector,.left_eyebrow{
  fill:none;
    stroke:#000000;
    stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear forwards infinite;
}

.port-cat-vector,.right_eyebrow{
  fill:none;
    stroke:#000000;
    stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 1s forwards;
}

.port-cat-vector,.st1{
    fill:none;
    stroke:#000000;
    stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 2s forwards;
}

.port-cat-vector,.left_eye{
  fill:none;
    stroke:#000000;
    stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 3s forwards;
}

.port-cat-vector,.left_eye_inside{
  fill:none;
    stroke:#000000;
    stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 3.5s forwards;
}

.port-cat-vector,.right_eye{
  fill:none;
    stroke:#000000;
    stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 4s forwards;
}

.port-cat-vector,.right_eye_inside{
  fill:none;
    stroke:#000000;
    stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 4.5s forwards;
}
.port-cat-vector,#bottom_right_eyelid{
  fill:none;
    stroke:#000000;
    stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 4.5s forwards;
}

.port-cat-vector,.st2{
    fill:none;
    stroke:#985856;
    stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 5s forwards;
}

.port-cat-vector,.nose_bridge{
  fill:none;
    stroke:#000000;
   stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 5.5s forwards;
}

.port-cat-vector,.nose{
  fill:none;
    stroke:#000000;
    stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 6s forwards;
}

.port-cat-vector,.left_lip{
  fill:none;
   stroke: red;
   stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 6.5s forwards;
}

.port-cat-vector,.right_lip{
  fill:none;
   stroke: red;
   stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: draw 5s linear 7s forwards;
}

.port-cat-vector,.bottom_lip{
  fill:none;
   stroke: red;
   stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 7.5s forwards;
}

.port-cat-vector,.lip_line{
  fill:none;
   stroke: red;
   stroke-miterlimit:10;
  stroke-dasharray:2300;
	stroke-dashoffset:2300;
	animation: 'draw' 5s linear 8s forwards;
}


@keyframes draw{
  100%{
    stroke-dashoffset: 0;
  }
}


.port-btn{
	background:#985856;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	width: 240px;
	padding: 10px 10px;
	border: 2px solid #985856;
	letter-spacing: 5px;
	margin-top: 30px;
	float: right;
	text-align: center;
	position: relative;
	right: 430px;
	top: 20px;
}

.port-btn:hover{
	background-color: #c09084;
	color: #111;
	width: 240px;
	border: 2px solid #c09084;
	text-decoration: none;
}
/*Contact Section */
#contact{
	background:#c09084;
	width: 100%;
	height: 300px;
	margin: 0 auto;
	border: 1px solid #985856;
}

.contact{
	font-size: 30px;
	color: #fff;
	font-family: "fenway-park-jf",sans-serif;
	text-align: center;
	padding-top: 5px;
	text-transform: none;
	letter-spacing: 4px;
	margin-top: 15px;
	padding-top: 25px;
}


.contact-info{
	height:auto;
	color: #fff;
	margin-top: 5px;
	font-size: 18px;
	letter-spacing: 1px;
	padding-top: 30px;
}

.contact-info span{
	height:auto;
	color: #fff;
	margin-top: 5px;
	font-size: 28px;
	letter-spacing: 1px;
	text-align: center;
	padding-left: 50px;
}

.contact-info span:hover{
	color:#985856;
}

/*Portfolio Page */
#cat-section{ /*All categories */
	width:100%;
	height: 530px;
	padding-top: 60px;
	margin: 0 auto;
}

img{ /*All categories */
	width:270px;
	height:300px;

}
.img-row{
	padding-top: 20px;
}

.photo, .vector{
	width:270px;
	height:300px;
	box-shadow: 2px 3px 5px #000;
}

.description{
    text-align: left;
    margin-left: 5px;
}
.description h3{
	font-size: 30px;
	padding-top: 40px;
	text-decoration: underline;
}

.description p{
	font-size: 18px;
	padding-top: 30px;
	letter-spacing: 1px;
}

/*Animation Section */
video{
	width:270px;
	height: 300px;
	position: relative;
	bottom: 60px;
}

.disclaimer h5{
	text-align: center;
    position: relative;
    top: 250px;
    border: 2px solid #985856;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;

}

/*Image Slider-Photography Section */
#photo-section{
	width:100%;
	height: 630px;
	padding-top: 20px;
}

.top{
	padding-top: 20px;
}

.top:hover{
	transform: 'scale' (2);
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.caption{
	width: 100%;
	text-align: center;
	height: 20px;
	margin-left: 10px;
}


.next{
	float: left;
	position: absolute;
	left: 400px;
	margin-top: 25px;
	font-size: 30px;
	color: #985856;
	padding-top: 100px;
}

.next:hover{
	cursor: pointer;
}

/*Print Section */
#print-section{
	width:100%;
	height:520px;
	padding-bottom: 15px;
	border-bottom: 0.5px solid #c09084;
}

.img{
	width:270px;
	height: 400px;
}


/*Vector Section */
#vector-section{ 
	width:100%;
	height: 530px;
	padding-top: 10px;
	margin: 0 auto;
	background: #f5f5f5;
}
/*Contact Page */
iframe{
	width:650px;
	height: 400px;
	margin-left: 25px;
}

.contact-description{
	font-size: 25px;
	color: #deafa7;
	align-content: center;
	text-align: center;
	padding-top: 20px;
}

.contact-social {
  margin-left: -15px;
  margin-top: 25px;
  padding-top: 25px;
}

.contact-social i {
  margin: 0 5px;
  padding: 0 5px;
  display: inline-block;
  color: #deafa7;
  font-size: 25px;
  position: relative;
  bottom: 20px;
 left: 5px;
}

.contact-social i:hover {
  color: #aed5c5;
}
/*Footer */
footer{
	background: linear-gradient(-90deg, #985856, #a06561);
	height: 260px;
	width: 100%;
	clear: both;
	position: relative;
	bottom: -10px;
}

.footer-title{
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.footer-email{
	color: #fff;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: left;
	margin-top: -25px;
}

.footer-contact{
	color: #fff;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: left;
	margin-top: 0px;
}

 .footer-social {
  margin-left: -15px;
  margin-top: 5px;
}

.footer-social i {
  margin: 0 5px;
  padding: 0 5px;
  display: inline-block;
  color: #fff;
  position: relative;
  bottom: 20px;
 left: 5px;
}

.footer-social i:hover {
  color: #cad8c5;
}

.copyright{
 	margin-bottom: 10px;
 	padding-top: 15px;
 	font-size: 16px;
 	color: #fff;
 	position: relative;
 	bottom: -130px;
 	letter-spacing: 1.5px;
 }