@import url("https://use.typekit.net/qck7coe.css");
@import url("https://use.typekit.net/gpw4ymh.css");
*{
	margin:0;
	padding: 0;
}

html,body{
	
}

body{
	width: 100%;
	padding: 0;
	margin:0 auto;	
}

header{
	width: 100%;
	z-index:2;
	background: linear-gradient(-90deg, #985856, #a06561);
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	width: 60px;
	height: 50px;
}

.nav{
	background: linear-gradient(-90deg, #985856, #a06561);
	width: 100%;
}

.nav ul{
	list-style: none;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav li{
	display: inline-block;
}

.nav a{
	text-decoration: none;
	color: #fff;
	font-family: "orator-std",monospace!important;
	font-size: 16px;
	width: 100%;
	display: block;
	padding: 20px;
	letter-spacing: 2px;
}

.nav a:hover{
	text-decoration: none;
	color: #000;
	transition: transform .2s ease;
	transform: scale(1);
}
/*End Header CSS */


@media only screen and (max-width: 812px ){/*Index Page */
	body{
		width:100%;
	}

	header{
		width: 100%;
	}

	.nav li{
		width:100%;
		display: inline-block;
	}

	.card-columns h3{
		color: #985855;
	}

	.animate-section{
		width: 100%;
		margin-left:0;
	}

	.title{
		text-decoration: none;
	}

	footer{
		width:100%;
		position: relative;
		top:200px;
	}

	.resume-section, .about-section, .skills-section{
		width:100%;
	}

}

@media only screen and (max-width: 884px){
	body{
		width: 100%;
	}
	video{
		width:100%;
	}

	.animate-section, .photo-section, .print-section, .vector-section, .web-section{
		width: 100%;
		position: relative;
		top: 200px;
	}
}


/*Content CSS*/
.resume-section{
	width: 100%;
    padding: 50px;
    margin-top: 25px;
    text-align: center;
}

h1{
	font-size: 50px;
    color: #c19185;
    letter-spacing: 2px;
    text-align:center;
    padding-top: 25px;
}

p{
	font-size: 30px;
    color: #c19185;
    letter-spacing: 3px;
    text-align: center;
}

.btn{
	background:#985856;
	color: #fff;
	font-size: 20px;
	font-family: "omnes-pro", sans-serif;
	font-weight: 400;
	width: 240px;
	padding: 10px 10px;
	border: 2px solid #985856;
	letter-spacing: 2px;
	margin-top: 10px;
}

.btn:hover{
	background-color: #fff;
	color: #985856;
	width: 240px;
	border: 2px solid #deafa7;
}

/*About Section*/
.about-section{
	width: 100%;
    padding: 5px;
    margin-top: 25px;
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #985855;
}

h2{
	font-size: 24px;
	font-family: "orator-std",monospace!important;
	color: #985855;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 500;
}

.about-section p{
	font-size: 20px;
	font-family: "omnes-pro",sans-serif;
    color: #985855;
    letter-spacing: 3px;
    text-align: center;
}

/*Skills-Section*/
.skills-section{
	width: 100%;
    padding: 50px;
    margin-top: 25px;
    text-align: center;
    border-bottom: 1px solid #985855;
}

.skill-set{
	margin-top: 30px;
	background-color: #f5f5f5;
	border-bottom: 2px solid #985856;
	border-top: 2px solid #985856;
	padding: 100px 20px;
	transition: all 0.3s ease 0s;
	height: 250px;
}

.icon{
	height: 40px;
	position: absolute;
	top: 50px;
	left: 40px;
}

.skill-set .icon span{
	font-size: 30px;
	color: #985856;
	padding-left: 90px;
	margin-top: 15px;

}

.desc{
	text-align: center;
}


.skill-set .desc h4{
	margin-bottom: 10px;
	font-size: 20px;
	font-family: "orator-std",monospace!important;
	color: #985856;
	font-weight: bold;
	letter-spacing: 1px;
}

.skill-set .desc p{
	margin-bottom: 10px;
	font-size: 16px;
	font-family: "omnes-pro",sans-serif;
	color: #111;
	padding-top: 15px;
	letter-spacing: 1px;
}


.portfolio-section{
	width: 100%;
    padding: 50px;
    margin-top: 25px;
    text-align: center;
    border-bottom: 1px solid #985855;
}

@media (min-width: 576px){
	.card-columns {
	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 2;
	    -webkit-column-gap: 1.25rem;
	    -moz-column-gap: 1.25rem;
	    column-gap: 1.25rem;
	}
	.card-columns .card {
    display: inline-block;
    width: 100%;
	}

	.card-columns span h3{
	    width:80%;
	    color: #000;
	    background-color: #c19185;
	    font-size: 20px;
	    font-family: "orator-std",monospace!important;
	    text-align: center;
	    text-decoration: none;
	    position: absolute;
	    top: 0px;
	    left: 50px;
	    letter-spacing: 2px;
	}

	.pb_hover-zoom {
    position: relative;
    display: block;
    overflow: hidden;
	}
	.pb_hover-zoom img{
		opacity: 0.7;
		transition: transform .2s ease;
		transform: scale(1);
		z-index: 1;
		filter: blur(0.5px);
	}
	.pb_hover-zoom span h3{
	    width:80%;
	    color: #fff;
	    background-color: #c19185;
	    font-size: 20px;
	    font-family: "orator-std",monospace!important;
	    text-align: center;
	    text-decoration: none;
	    position: absolute;
	    top: 0px;
	    left: 50px;
	    letter-spacing: 2px;
	}

}

.contact-section{
	width: 100%;
	padding: 50px;
    margin-top: 25px;
    text-align: center;
}

.contact-section span{
	color: #985856;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1.5px;
}

.contact-section i{
	margin: 0 5px;
  	padding: 0 5px;
  	display: inline-block;
  	color: #985856;
  	font-size: 24px;
}

.contact-section a i:hover{
	color:#000;
}

/*Portfolio Page*/
.front{/*ALL COVER PICTURES */
	width:270px;
	height: 400px;
	margin-top: 15px;
	box-shadow: 2px 2px 3px #000;
	transition: transform .3s;
}

.front:hover{/*ALL COVER PICTURES */
	transform: scale(1.1);
}

.title{/*ALL Sections */
	color: #111;
	text-align: center;
	letter-spacing: 1.5px;
	font-size: 20px;
	font-family: "orator-std", monospace;
	font-weight: bold;
	padding-bottom: 15px;
	text-decoration: none;
}

.title:hover{
	text-decoration: none;
}


.animate-section{
	width: 100%;
    padding: 20px;
    margin-top: 25px;
    text-align: center;
    background-color: #c8ad9b;
    border-bottom: 1px solid #985855;
    box-shadow: 2px 2px 3px #000;

}

video{
	height:300px;
	padding: 20px;
	position: relative;
}

.animate-section h3{ 
    text-align: center;
    font-size: 18px;
    font-family: "omnes-pro", sans-serif;
    color: #fff;
    letter-spacing: 1.5px;
    position: relative;
}

h3 span{
	color:#985855;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2;
	font-family: "orator-std", monospace;
}

/*Photography Section*/
.photo-section{
	width: 100%;
    padding: 20px;
    margin-top: 25px;
    text-align: center;
    background-color: #f5f5f5;
    border-bottom: 1px solid #985855;
    box-shadow: 2px 2px 3px #000;
}

.photo-section img{
	width:270px;
	height: 300px;
	padding: 10px;
}

/*Print Section*/
.print-section{
	width: 100%;
    padding: 20px;
    margin-top: 25px;
    text-align: center;
    background-color: #c8ad9b;
    box-shadow: 2px 2px 3px #000;
    display: inline-block;
}

.print-section img{
	margin-top: 5px;
	padding-top: 20px;
	transition: transform .2s ease;
}

.print-section img:hover{
	transform: scale(1.1);
}


/*Vector Section*/
.vector-section{
	width: 100%;
    padding: 20px;
    margin-top: 25px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 3px #000;
    display: inline-block;
}

.vector-section img{
	margin-top: 10px;
}

.vector-section span{
	color: #111;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	margin-top: 15px;
	padding-top: 20px;
}

/*Web Section/Web Page*/
.web-section{
	width: 100%;
    padding: 20px;
    margin-top: 25px;
    text-align: center;
    background-color: #c8ad9b;
    box-shadow: 2px 2px 3px #000;
    display: inline-block;
}

.web-section img{
	width: 270px;
	height: 300px;
	padding-top: 25px;
	transition: transform .2s;
}

.web-section img:hover{
	transform: scale(1.1);
}
.web-section h3{
	text-align: center;
	color: #fff;
	font-size: 22px;
	text-decoration: underline;
	padding-top: 20px;
}

/*Footer*/
footer{
	background: linear-gradient(-90deg, #985856, #a06561);
	width: 100%;
	clear: both;
	margin-top: 5px;
}

.footer-title{
	font-size: 15px;
	color: #fff;
	font-family: "orator-std", monospace;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 5px;
}

.footer-info{
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
	margin-left: 0px;
	padding-top: 5px;
	padding-left: 0px
}

.footer-info li{
	list-style: none;
	margin-left: 0px;
	padding-top: 3px;
	text-decoration: none;
	font-size: 16px;
}

.footer-info li a{
	list-style: none;
	margin-top: 5px;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 14px;
	font-family: "omnes-pro", sans-serif;
}

.footer-info li a:hover{
	color: #000;
}

.footer-contact{
	text-align: center;
}

.footer-contact li{
	text-decoration: none;
	list-style: none;
	display: inline-block;
	padding-left: 20px;
}

.footer-contact li span{
	color: #fff;
	font-style: 18px;
	font-family: "omnes-pro", sans-serif;
	text-align: center;
	letter-spacing: 1.5px;
}

.footer-contact i{
	margin: 0 5px;
  	padding: 0 5px;
  	display: inline-block;
  	color: #fff;
  	font-size: 18px;
}

 .footer-social {
  text-align: center;
  margin-top: 5px;
}

.footer-social i {
  margin: 10px 5px;
  padding: 5px 5px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.footer-social i:hover {
  color: #000;
}

.copyright{
 	margin-bottom: 10px;
 	padding-top: 25px;
 	font-size: 16px;
 	font-family: "omnes-pro", sans-serif;
 	color: #fff;
 	letter-spacing: 1.5px;
 	margin-left: 25px;
 }
