body {
      background-color: #eddace;
      color:#a8755e ;
      font-family: 'Pinyon Script', cursive;
      background-image: url(https://static.pexels.com/photos/6872/cold-snow-nature-weather.jpg);
      background-size: cover;
      opacity: 1.2;
    }
    
    header {
          background-color: #d3d3d3;
          border-style: solid;
          border-radius: 10px;
    }
    
    h1 {
          text-align: center;
    color: #987456;
     font-family: 'Montserrat', sans-serif;
     font-size: 36px;
     text-shadow: 0 -10px 22px #cd853f;
     text-transform: uppercase;
     position: center;
     top: 21px;
  }
  nav {
        position: fixed;
        top: 42px;
        right: 32px;
  }
  
  h2 {
        text-align: center;
    color: #fff;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
  }
  a {
    text-align: left;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-decoration: underline;
  }
  p {
        text-align: center;
    color:	#fff;
  font-family: 'Montserrat', sans-serif;
  }
  a:link {
    color: #fff;
    font-size: 24px;
  }
  a:hover {
    color: #C8AD7F;
  }
  a:visited {
    color: #EFDFBB;
  }
 
  nav a{
        color: #fff;
        text-decoration: none;
        background-color: #eddace;
        border-radius: 5px;
        padding: 3px;
  }
  
  nav a:visited{
        color:#fff;
  }
  
  footer {
        background-color: #d3d3d3;
        color: #987456;
       font-family: 'Montserrat', sans-serif;
       font-size: 18px;
       text-align: center;
       border-style: solid;
       margin: -15px;
  }

img src {
      box-shadow: 0, 0, 0, 10px;
      margin:  10px;
      width: 14px;
      height: 18px;
       border-radius: 8px;
      border-style: solid;
      outline-style: ridge;
}

