body {
      background-color: #eddace;
      color:#a8755e ;
      font-family: 'Pinyon Script', cursive;
      background-image: url(https://static.pexels.com/photos/6872/cold-snow-nature-weather.jpg);
      background-size: cover;
    }
    
    h1 {
          text-align: center;
    color: #987456;
     font-family: 'Montserrat', sans-serif;
     font-size: 36px;
  }
  nav {
        position: fixed;
        top: 42px;
        right: 32px;
  }
  
  h2 {
        text-align: center;
    color: #987456;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
  }
  a {
    text-align: left;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-decoration: underline;
  }
  p {
        text-align: center;
    color:	#de5d83;
  font-family: 'Montserrat', sans-serif;
  }
  a:link {
    color: #987456;
    font-size: 24px;
  }
  a:hover {
    color: #C8AD7F;
  }
  a:visited {
    color: #EFDFBB;
  }
 
  nav a{
        color: #fff;
        text-decoration: none;
        background-color: #eddace;
        border-radius: 5px;
        padding: 3px;
  }
  
  nav a:visited{
        color:#fff;
  }
  
  footer {
        color: #A0785A;
       font-family: 'Montserrat', sans-serif;
       font-size: 18px;
       text-align: center;
  }

img src {
      margin:  10px;
      width: 14px;
      height: 18px;
}
